---

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found | 404</title>
  </head>
  <body>
    <main>
      <div
        class="bg-botones h-screen w-full text-white m-auto flex justify-center items-center"
      >
       <h1>404</h1>
        <h2>Page not found</h2>
      </div>
    </main>
  </body>
</html>
