---
import { Image } from "astro:assets";
import blog from "../assets/blog.jpg";
---

<main id="blog" class="h-screen">
  <Image
    src={blog}
    alt=""
    class=" h-[41rem] w-full object-cover"
  />
  <div class="absolute inset-0 bg-black/50"></div>
  
</main>
