---
import { Image } from "astro:assets";
import suve from "../assets/suve.png";
import resta from "../assets/resta.png";
import logomaria from "../assets/logomaria.png";

---

<main>
  <div class="bg-fondo">
    <div class="grid grid-cols-2 px-4 pt-20">
      <div>
        <Image src={resta} alt="resta" class="ml-10" />
      </div>
      <div class=" mt-10">
        <h2 class="text-left text-[#7b7b7b] text-xl font-semibold font-Montserrat">LOCAL AMANITIES</h2>
        <h2 class="w-[432px] text-[#424b59] text-[32px] font-semibold font-Montserrat ">Maria Bonita Steak House</h2>

        <p class="font-Montserrat">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          itaque eligendi asperiores animi inventore similique consequatur
          corporis ea natus, ad aliquid distinctio fuga officiis quis explicabo
          tenetur at, nobis alias!
        </p>
        <div class="grid grid-cols-2 mt-12">
            <button class="h-11 w-52 px-1 py-2.5 rounded-[25px] border-2 border-[#6a2831] justify-center items-center gap-3.5 inline-flex"> <a class="text-center text-[#6a2831] text-xl font-semibold font-['Montserrat']" href="">Read More</a></button>
            <Image class="w-[600px]" src={logomaria} alt="maria"/>
        </div>

      </div>
    </div>

    <div class="grid grid-cols-2 px-4 pt-20">
        <div class=" mt-10">
          <h2 class="text-left text-[#7b7b7b] text-xl font-semibold font-Montserrat">LOCAL AMANITIES</h2>
          <h2 class="w-[432px] text-[#424b59] text-[32px] font-semibold font-Montserrat ">Nuwa Souvenir</h2>
  
          <p class="font-Montserrat">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            itaque eligendi asperiores animi inventore similique consequatur
            corporis ea natus, ad aliquid distinctio fuga officiis quis explicabo
            tenetur at, nobis alias!
          </p>
          <div class="grid grid-cols-2 mt-12">
              <button class="h-11 w-52 px-1 py-2.5 rounded-[25px] border-2 border-[#6a2831] justify-center items-center gap-3.5 inline-flex"> <a class="text-center text-[#6a2831] text-xl font-semibold font-['Montserrat']" href="">Read More</a></button>
              <Image class="w-[600px]" src={logomaria} alt="maria"/>
          </div>
  
        </div>

        <div>
            <Image src={resta} alt="resta" class="" />
          </div>
      </div>
  </div>
</main>
