---
import { Image } from "astro:assets";
import fondo1 from "../assets/fondo1.png"

import Header from "./Header.astro";

---
<style>
    .home{
        background-image: url('../assets/fondo1.png');
        width: 100%;
        background-size: cover;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
</style>


<div class="h-screen w-screen bg-cover bg-center  bg-fondoMovil  bg-black bg-no-repeat bg-fixed sm:bg-fondo1">
    <!-- <Image src={fondo1} alt="Fondo1" class="w-full bg-black fixed  -z-10" /> -->
    
    <div class="grid content-center place-self-center absolute sm:top-[300px] sm:mx-[320px] top-[16rem] ">
        <h2 class="   text-center text-xl text-gold sm:text-[32.43px] font-semibold font-Montserrat">🇨🇷 PURA VIDA HOTEL EXPERIENCE  🇨🇷 </h2>
        <h3 class=" sm:p-0 p-5 text-left text-[40px] sm:text-center text-white sm:text-[70px] font-bold font-Montserrat">A UNIQUE EXPERIENCE <br>WHERE TO SAY</h3>
    </div>
</div>