---
import { Image } from "astro:assets";
import fondo1 from "../assets/fondo1.png"

import Header from "./Header.astro";

---
<style>
    .home{
        background-image: url('../assets/fondo1.png');
        width: 100%;
        background-size: cover;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
</style>


<div class="md:h-screen  home">
    <!-- <Image src={fondo1} alt="Fondo1" class="w-full bg-black fixed  -z-10" /> -->
    
    <div class="grid content-center place-self-center absolute top-[300px] mx-[320px]">
        <h2 class="text-center text-[#ddb97f] text-[32.43px] font-semibold font-Montserrat">🇨🇷 PURA VIDA HOTEL EXPERIENCE  🇨🇷 </h2>
        <h3 class="text-center text-white text-[70px] font-bold font-Montserrat">A UNIQUE EXPERIENCE <br>WHERE TO SAY</h3>
    </div>
</div>