---
import { Image } from "astro:assets";
import fondoPrincipal from "../assets/fondoPrincipal.png";
import Whatsapp from "../assets/whatsapp.png"
---

<div id="Home" class="h-screen relative " >
  <Image
    src={fondoPrincipal}
    alt="Area piscina Downtown"
    class="h-full w-full object-cover fixed -z-10"
  />
  <div class="absolute inset-0 bg-black/50"></div>
  <div
    class="grid content-center place-self-center sm:top-[300px] sm:mx-[210px] top-[16rem] relative text-center"
  >
    <p
      class="sm:p-0  p-2 lg:text-[35px] xl:text-[55px]  text-white sm:text-[20px]  font-bold font-Montserrat"
    >
      UNA EXPERIENCIA ÚNICA <br /> DE HOSPEDAJE EN LA FORTUNA
    </p>

    <div class="lg:w-[95%] w-[85%] h-[2px] bg-white/90 mx-auto"></div>

    <h2 class="text-white text-xs sm:text-[20px] font-semibold font-Montserrat p-2">
    ¡En el corazón de las experiencias!
    </h2>
  </div>
  <div>
    <a href="https://wa.me/message/EPD5JVA2SLQ2D1">
      <Image src={Whatsapp}
      alt="Area piscina Downtown"
      class=" bottom-5 right-10 h-16 w-16 object-cover fixed"/>
    </a>
  </div>
</div>
