---
import { Image } from "astro:assets";
import fondo1 from "../assets/fondo1.png"

---

<div class="md:h-screen  ">
    <Image src={fondo1} alt="Fondo1"/>
    <h2 class="text-center text-[#ddb97f] text-[32.43px] font-semibold font-Montserrat">🇨🇷 PURA VIDA HOTEL EXPERIENCE  🇨🇷 </h2>
    <h3 class="text-center text-white text-[70px] font-bold font-Montserrat">A UNIQUE EXPERIENCE WHERE TO SAY</h3>
</div>