---
import CarruselRooms from "@components/CarruselRooms.jsx";
---

<section
  id="Rooms"
  class="text-center bg-fondog min-h-[70rem] sm:min-h-[70rem] md:min-h-[90rem] lg:min-h-screen w-full snap-start"
>
  <div class="flex flex-col p-4">
    <h2 class="lg:text-5xl text-3xl font-bold font-Lobster text-titulo">Nuestras Habitaciones</h2>

  </div>

  <div
    class="min-w-[5rem] min-h-[32rem] sm:min-w-[0rem] sm:min-h-[0rem] sm:m-6  p-6"
  >
    <CarruselRooms client:visible />
  </div>
</section>
