---
import CarruselRooms from "@components/CarruselRooms.jsx";
---

<section id="Rooms" class="text-center py-10 bg-fondog h-screen w-full snap-start">
  <div class="flex flex-col">
    <h2 class="text-6xl font-bold font-Lobster">Nuestras Habitaciones</h2>
    <p class="font-Montserrat text-2xl text-gold">Comodidad y Descanso</p>
    <p class="font-Montserrat text-xs">
      Nuestras habitaciones, con una decoración cómoda y acogedora, cuentan con
      aire acondicionado, TV por cable, Wi-Fi de alta velocidad, minibar,
      balcones privados y baños con duchas de agua caliente.
    </p>
  </div>

  <div
    class="min-w-[5rem] min-h-[32rem] sm:min-w-[0rem] sm:min-h-[0rem] sm:m-12"
  >
    <CarruselRooms client:visible />
  </div>
</section>
