---
import { Image } from "astro:assets"
import fondo3   from "../assets/fondo3.png"

---

<main>
    <div class="relative h-[580px]">
      <!-- Fondo de imagen -->
      <Image src={fondo3} alt="Fondo1" class="w-full h-[580px] object-cover absolute" />
  
      <!-- Contenido -->
      <div class="relative top-[10rem] sm:top-[200px] flex flex-col items-center ">
      
        <p class="text-center text-[36px] sm:text-[50px] leading-snug text-white font-bold font-Montserrat mt-4 sm:mt-0">
          "En el Corazón de las experiencias"
        </p>
      </div>
    </div>
  </main>
  