---
import { Image } from "astro:assets"
import fondo3   from "../assets/fondo3.png"

---

<main>
    <div class=" sm:h-[580px]">
        <Image src={fondo3} alt="Fondo1" class="sm:w-full sm:h-[580px] bg-black absolute" />

        <div class="grid content-center place-self-center  sm:top-[200px] sm:mx-[320px] top-[10rem] relative">
            <h2 class="   text-center  text-gold sm:text-[32px] font-semibold font-Montserrat">🇨🇷 PURA VIDA HOTEL EXPERIENCE  🇨🇷 </h2>
            <p class=" sm:p-0 p-5 text-left text-[45px] sm:text-center text-white sm:text-[70px] font-bold font-Montserrat">A UNIQUE EXPERIENCE <br>WHERE TO SAY</p>
        </div>
    </div>
</main>