---
import CarruselRooms from "@components/en/CarruselRooms.jsx";
---

<section id="Rooms" class="text-center py-20 bg-fondo h-full snap-start">
  <div class="flex flex-col  pl-4">
    <h2 class="text-6xl font-bold mb-3 font-Lobster">OUR ROOMS</h2>
    <p class="font-Montserrat pl-0 text-2xl text-gold">
      Comfort and rest
    </p>
    <p class="font-Montserrat pl-0 text-xl">
      Our rooms feature comfortable, cozy decor with air conditioning, cable TV, high-speed Wi-Fi, a minibar, private balconies, and bathrooms with hot water showers.
    </p>
  </div>

  <div
    class="min-w-[5rem] min-h-[32rem] sm:min-w-[0rem] sm:min-h-[0rem] sm:m-12"
  >
    <CarruselRooms client:visible />
  </div>
</section>
