---
import CarruselPaquetes from "@components/en/CarruselPackages.jsx";
---

<section
  id="paquetes"
  class="text-center bg-fondog py-10 w-full snap-start"
>
  <div class="flex flex-col p-4">
    <h2 class="lg:text-5xl text-3xl font-bold font-Lobster text-titulo">
      Our packages
    </h2>
  </div>

  <div class="min-h-[32rem] sm:min-h-[32rem] sm:m-6">
    <CarruselPaquetes client:visible />
  </div>
</section>

