---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
		</style>
		<title>Downtown</title>
	</head>
	<body>
		<div class="w-full">
		
             <slot/>
			 
        </div>
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</html>
