---
import { SEO } from "astro-seo";
---

<html lang="es">
	<head>
		<SEO
      title="Downtown La Fortuna | Pura Vida"
      description=" UNA EXPERIENCIA ÚNICA DE HOSPEDAJE EN LA FORTUNA"
      openGraph={{
        basic: {
          title: "Downtown La Fortuna | Pura Vida",
          type: "Website",
          image: "/icon.svg",
        }
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/icon.svg" }],
        // extending the default meta tags
      }}
    />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4S6PWSDGNR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4S6PWSDGNR');
</script>

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
			html {
  scroll-behavior: smooth;
}
		</style>
		<title>Downtown La Fortuna | Pura Vida</title>
	</head>
	<body >
		<div class="w-full snap-y snap-mandatory scroll-smooth">
             <slot/>
        </div>
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</html>
