---
import { SEO } from "astro-seo";
---

<html lang="es">
	<head>
		<SEO
      title="Downtown La Fortuna | Pura Vida"
      description=" UNA EXPERIENCIA ÚNICA DE HOSPEDAJE EN LA FORTUNA"
      openGraph={{
        basic: {
          title: "Downtown La Fortuna | Pura Vida",
          type: "Website",
          image: "/icon.ico",
        }
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/icon.svg" }],
        // extending the default meta tags
      }}
    />
		<meta charset="utf-8" />
	
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16567954144"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-16567954144');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPQ8CTD4');</script>
<!-- End Google Tag Manager -->

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
			html {
  scroll-behavior: smooth;
}
		</style>

    <!-- Start - Cloudbeds Amplify retargeting audience -->
<script type="text/javascript">
      adroll_adv_id = "JJCTSPWU5ZBONF2XMUKP4W";
      adroll_pix_id = "3GTZHSLCBNAGNF3EXYABLB";
      adroll_version = "2.0";
  
      (function(w, d, e, o, a) {
          w.__adroll_loaded = true;
          w.adroll = w.adroll || [];
          w.adroll.f = [ 'setProperties', 'identify', 'track' ];
          var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id
                  + "/roundtrip.js";
          for (a = 0; a < w.adroll.f.length; a++) {
              w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) {
                  return function() {
                      w.adroll.push([ n, arguments ])
                  }
              })(w.adroll.f[a])
          }
  
          e = d.createElement('script');
          o = d.getElementsByTagName('script')[0];
          e.async = 1;
          e.src = roundtripUrl;
          o.parentNode.insertBefore(e, o);
      })(window, document);
      adroll.track("pageView");
  </script><!-- End - Cloudbeds Amplify retargeting audience -->
		<title>Downtown La Fortuna | Pura Vida</title>
	</head>
	<body >
		<div class="w-full snap-y snap-mandatory scroll-smooth">
             <slot/>
        </div>

        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPQ8CTD4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</html>
