---
import { SEO } from "astro-seo";
---

<html lang="es">
	<head>
		<SEO
      title="Downtown La Fortuna | Pura Vida"
      description="UNA EXPERIENCIA ÚNICA DE HOSPEDAJE EN LA FORTUNA"
      openGraph={{
        basic: {
          title: "Downtown La Fortuna | Pura Vida",
          type: "website",
          image: "https://tudominio.com/icon.ico",
        }
      }}
      extend={{
        link: [
          { rel: "icon", type: "image/svg+xml", href: "/icon.svg" },
          { rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png" },
          { rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png" },
          { rel: "shortcut icon", href: "/favicon.ico" },
          { rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png" }
        ],
      }}
    />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16567954144"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-16567954144');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPQ8CTD4');</script>
<!-- End Google Tag Manager -->

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
			html {
  scroll-behavior: smooth;
}
		</style>

		<title>Downtown La Fortuna | Pura Vida</title>
	</head>
	<body >
		<div class="w-full snap-y snap-mandatory scroll-smooth">
             <slot/>
        </div>

        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPQ8CTD4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  
</html>